{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <title>INVIDIA CLOTHES</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <div class="wrapper">
        <div class="header"><h1>{{sitename}}</h1></div>
        <div class="body">
            <ul>
                {% for category in categories %}
                <li><a href="/{{category.alias}}/">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>